<component name="libraryTable">
  <library name="Spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-indexer-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-indexer-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aop-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-tx-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aspects-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-tx-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jcl-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-websocket-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jms-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-messaging-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-orm-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-beans-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aspects-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-web-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-websocket-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-expression-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aop-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-core-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jdbc-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-oxm-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jdbc-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webmvc-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jms-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-orm-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jcl-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-instrument-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webflux-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webmvc-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-instrument-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-orm-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-beans-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-core-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jdbc-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aop-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-messaging-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-indexer-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-tx-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-beans-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-messaging-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-web-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jms-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-aspects-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-websocket-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-jcl-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-support-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-support-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-oxm-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-core-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-test-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webflux-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webflux-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-oxm-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-expression-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-test-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-context-support-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-instrument-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-web-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-expression-5.2.1.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-test-5.2.1.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/Spring Framework/libs/spring-webmvc-5.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>